<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>welcome</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
</head>
<body>
    <h1>selamat datang <%= data.nama%></h1>
    <ul>
        <% for (var i in data.pemrograman) {%>
            <li><%=data.pemrograman[i]%></li>
        <% } %>
    </ul>
    <table>
      <tr>
          <th>NIM</th>
          <th>Nama</th>
      </tr>  
      <% for (var i in data.mahasiwa){ %>
        <tr>
          <td><%=data.mahasiswa[i].nim %></td>
          <td><%=data.mahasiswa[i].nama %></td>  
        </tr>
    <% } %>
    </table>
</body>
</html>