<html>
    <head>
        <title> sign up</title>
    </head>
<body>
    <from action="simpanuser" method="post">
        <p><input type="text" name="fullname" id="">Nama Lengkap</p>
        <p><input type="text" name="username" id="">Nama User</p>
        <p><input type="password" name="paswd" id="">Password </p>
        <p><input type="submit"value="signup"></p> 
    </from>
</body>
</html>